{% extends 'main_content.html' %}
{% block content %}
<h1>Libros</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha de actualización</th>
    </tr>
    </thead>
    <tbody>
        {% for libro in lista_libros %}
        <tr>
            <th scope="row">{{ libro.id }}</th>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.created_at }}</td>
            <td>{{ libro.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Publicadores</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha de actualización</th>
        <th scope="col">Libros</th>
    </tr>
    </thead>
    <tbody>
        {% for publicador in lista_publicadores %}
        <tr>
            <th scope="row">{{ publicador.id }}</th>
            <td>{{ publicador.name }}</td>
            <td>{{ publicador.created_at }}</td>
            <td>{{ publicador.updated_at }}</td>
            <td>{{ publicador.libros }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}